.step-item {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    align-content: center;
    .step-item-content input {
        cursor: pointer;
        border: none;
        background: none;
        color: white;
        padding: 0.5rem;
        font-size: 1rem;
        width: 100%;
        &::placeholder {
            color: rgba(255, 255, 255, 0.7);
        }
    }

    .delete-step {
        font-size: 1.5rem;
        cursor: pointer;
    }
    .complete-step {
        font-size: 1.15rem;
        cursor: pointer;
    }
    .complete input {
        text-decoration: line-through;
        color: rgb(29, 29, 29);
    }
}

@media (hover: hover) {
    .step-item {
        .delete-step {
            &:hover {
                color: red;
            }
        }
        .complete-step {
            &:hover {
                color: green;
            }
        }
    }
}
