.task-item {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr auto;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    .complete {
        text-decoration: line-through;
        color: rgb(29, 29, 29);
    }
    .task-item-content {
        word-wrap: break-word;
        word-break: break-all;
        padding: 0.5rem;
        cursor: pointer;
        align-self: center;
        &:hover {
            color: rgb(35, 133, 5);
        }
        border-bottom: 1px solid rgba(255, 255, 255, 0.287);
    }
    svg {
        fill: #fff;
        align-self: center;
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
            transition: transform 0.1s;
        }
    }
}
